/* *,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: calc(100% + 1px)
}

body {
    font: 100% 'Arimo', sans-serif;
}

.filter-wrapper,
.keyword-wrapper {
    display: flex;
    justify-content: center;
}

.filter-wrapper {
    margin-top: -30%;
    min-height: 100%;
    flex-flow: column wrap;
    position: relative;
}

.keyword-wrapper {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

#keyword {
    border: 1px solid #ccc;
    padding: 10px;
    font: 1.5em 'Arimo', sans-serif;
    width: 50%;
    outline: none;
    transition: border 0.5s ease-in-out
}

#keyword:focus {
    border-color: rgba(81, 203, 238, 1);
}

#keyword-button {
    position: absolute;
    right: 26%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: #8DB9ED
}

#keyword-button:hover {
    color: #ccc
}

.filter-select {
    width: 50%;
    list-style: none;
    font-size: 1.1em;
    color: rgb(105, 105, 105);
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    left: 25%;
    top: calc(50% + 87px);
    max-height: calc(50% -15px);
    overflow-y: auto;
    background: #fff;
    z-index: 1;
    opacity: 0.9;
}

.filter-select-list img {
    margin-right: 30px;
}

.tags {
    font-size: 12px;
    font-style: italic;
    color: #c6c6c6;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.filter-select-list:hover .tags {
    color: #fff;
}

.filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
}

.artist-name {
    display: inline-block;
    position: absolute;
}

.filter-select-list:hover {
    background: #C0C0C0;
    color: #fff
}

.list-highlight,
.list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff
}

@media only screen and (max-width: 768px) {
    .filter-select,
    #keyword {
        width: 80%;
    }
    #keyword {
        font-size: 1.3em
    }
    .filter-select {
        font-size: 0.9em;
        left: 10%;
        top: calc(50% + 23px);
    }
    #keyword-button {
        right: 11%
    }
}

@media only screen and (max-width: 480px) {
    .filter-select,
    #keyword {
        width: 95%;
    }
    .filter-select {
        left: 2.5%;
    }
    #keyword-button {
        right: 3.5%
    }
} */

.artist-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #333;
}

.main {
    border-bottom: #333 1px solid;
    padding: 30px 0;
}

.artist-thumb {
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.artist-albums .well {
    margin-bottom: 20px;
    overflow: auto;
    min-height: 280px;
}

.album {
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border: #666 1px solid;
}

.album-thumb {
    width: 100%;
}